[Desktop Entry]
Name=gencolormap
GenericName=2D Data Visualizer
Icon=de.marlam.gencolormap
Categories=DataVisualization;Education;Science
Type=Application
Exec=gencolormap-gui
StartupNotify=true
Terminal=false
